.xform {
    position: relative
}
.xform [type="submit"]{}
.xform [type="submit"]:disabled{
    opacity: 0.3;
}
.field__item .error{}
.xforms_description{}
.field__title.require_field:before{
    content: '*';
    font-size: 18px;
    color: red;
    padding-right: 4px;
    height: 14px;
    display: inline-block;
    vertical-align: top;
    line-height: 22px;
}
.xforms_loader{
    display: block;
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7) url('../images/preloader.svg') no-repeat center center;
    background-size: 50px;
    background-attachment: fixed;
}


/* file upload */
.drop_here{
    display: inline-block;
    padding: 20px;
    border: 2px dashed #b7b7b7;
    background: #f8f8f8;
    width: 100%;
    max-width: 500px;
    text-align: center;
}
.drop_here input[type="file"]{
    display: none
}
.drop_here a{
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    background: #ef7f1a;
    color: #fff;
    cursor: pointer;
}
.file_list{
    padding:0;
    margin:0;
}
.file_list li.error__upload{
    background: #FFE9E9;
}
.file_list li.uploaded{
    background: #e1f1e3;
}
.error__upload_message{
    color: red;
}
.file_list li{
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    max-width: 500px;
    border-width: 0px 2px 2px 2px;
    border-style: dashed;
    border-color: #b7b7b7;
    position: relative;
}
.file_list li span{
    float: right;
    color: red;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.file_list li i{
    position: absolute;
    height: 3px;
    width: 0;
    background: #9cdba6;
    top: 0;
    left: 0;
    z-index: 0;
}

/* Notification*/
.transition {
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.background-success {
    background-color: #57BF57;
}

#notie-alert-outer, #notie-confirm-outer, #notie-input-outer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    height: auto;
    width: 100%;
    display: none;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

#notie-alert-content{position: relative}


#notie-alert-inner .icon-close{
    font-size: 30px !important;
    display: block;
    color: #fff;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -17px;
}

#notie-alert-text {
    color: #FFFFFF;
    display: inline-block;
    margin: 17px 0;
}

#notie-alert-text a{
    margin-left: 10px;
    color: #fff;
    border: 2px solid;
    padding: 5px 16px;
    text-decoration: none;
    display: inline-block;
}

#notie-alert-text a:hover{
    color: rgb(207, 237, 255);
}